<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>Add Note</title>
</head>
<body>
    <h1>Add Note for {{ customer.name }}</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary" type="submit">Save</button>
        <a class="btn btn-primary" href="{% url 'customer_detail' customer.pk %}">Cancel</a>
    </form>
    
</body>
</html>