<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>Add Customer</title>
</head>
<body>
    <h1>Add Customer</h1>
    <form method="post">
        {% csrf_token %}

        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Name</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Your Name">
            {% if form.name.errors %}
            <p class="text-red-500 text-sm mt-1">{{ form.name.errors}}</p>
            {% endif %}
        </div>

        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Email</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
            {% if form.email.errors %}
            <p class="text-red-500 text-sm mt-1">{{ form.email.errors}}</p>
            {% endif %}
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Phone</label>
            <input type="tel" class="form-control" id="exampleFormControlInput1" placeholder="Your phone number">
            {% if form.phone.errors %}
            <p class="text-red-500 text-sm mt-1">{{ form.phone.errors}}</p>
            {% endif %}
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Address</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            
            {% if form.address.errors %}
            <p class="text-red-500 text-sm mt-1">{{ form.address.errors}}</p>
            {% endif %}
        </div>

        <br>
        <button class="btn btn-primary" role="button" type="submit">Save</button>
        <a class="btn btn-primary" role="button" href="{% url 'customer_list' %}">Cancel</a>
    </form><br>
</body>
</html>